n8n/callback-receiver-workflow.json
{
  "name": "CrewAI Callback Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crewai-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "callback-webhook",
      "name": "Receive Crew Result",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "task_id",
              "name": "task_id",
              "value": "={{ $json.body.task_id }}",
              "type": "string"
            },
            {
              "id": "crew_name",
              "name": "crew_name",
              "value": "={{ $json.body.crew_name }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            },
            {
              "id": "result",
              "name": "result",
              "value": "={{ $json.body.result }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-fields",
      "name": "Extract Result Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, task_id: $json.task_id }) }}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Receive Crew Result": {
      "main": [
        [
          {
            "node": "Extract Result Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Result Fields": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "CrewAI"
    }
  ]
}
