n8n/research-crew-workflow.json
{
  "name": "CrewAI Research Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research-request",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.31.224.1:8000/crews/research/kickoff",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: $json.body.topic, callback_url: $json.headers['x-callback-url'] || '' }) }}",
        "options": {}
      },
      "id": "kickoff-crew",
      "name": "Kickoff Research Crew",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ message: 'Research crew started', task_id: $json.task_id, status: $json.status }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Kickoff Research Crew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kickoff Research Crew": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "CrewAI"
    }
  ]
}
